@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1622737048404') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-letter-i:before {
  content: "\e64c";
}

.icon-letter-g:before {
  content: "\e64d";
}

.icon-letter-l:before {
  content: "\e64e";
}

.icon-letter-o:before {
  content: "\e650";
}

.icon-letter-n:before {
  content: "\e65f";
}

